<header>
  <nav class="navbar navbar-light" style="background-color: hsl(159, 95%, 63%);">
    <h1 class="site-name">Mon Budget Voyage</h1>
    <h2 class="displayed">{{travel}}</h2>
  </nav>
</header>


  <!--   Amount -->
  <div class="row">
    <label>Budget</label>
  </div>

<form>
  <!-- Expenses -->
  <div class="row">
    <label>Dépenses</label>
    <input type="text" formControlName="Expense">
  </div>

  <!-- Submit -->
  <div class="row">
    <input type="button" type="submit" value="Valider" routerLink="/new-expense">
  </div>
</form>


<main>
  <img class="displayed" src="../../assets/images/Canva - Landscape, Scotland, Isle Of Skye, Old Man Of Storr.jpg">
</main>


