<header>
  <nav class="navbar navbar-light" style="background-color: hsl(159, 95%, 63%);">
    <h1 class="site-name">Mon Budget Voyage</h1>
    <h2 class="displayed">Nouveau budget</h2>
  </nav>
</header>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!--   Amount -->
  <div class="row">
    <label>Montant de mon budget</label>
    <input type="text" formControlName="amount">
  </div>

  <!-- Travel -->
  <div class="row">
    <label>Nom de mon voyage</label>
    <input type="text" formControlName="travel">
  </div>

  <!-- Submit -->
  <div class="row">
    <input type="button" type="submit" value="Valider" routerLink="/add-expense">
  </div>
</form>  

<main>
  <img class="displayed" src="../../assets/images/Canva - Landscape, Scotland, Isle Of Skye, Old Man Of Storr.jpg">
</main>

