h1.site-name {
  font-size:28px;
}

h2.displayed {
  font-size:25px;
  margin-left: auto;
  margin-right: auto;
  width: 19em
}

img.displayed {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

form{
  font-size:25px;
  margin-left: auto;
  margin-right: auto;
  width: 19em
}