h1.site-name {
  font-size:28px;
}

p.displayed {
  font-size:20px;
  margin-left: auto;
  margin-right: auto;
  width: 29em
}

img.displayed {
  width: 100%;
  height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}