
<header>
  
  <nav class="navbar navbar-light navtext" style="background-color: hsl(159, 95%, 63%);">
    
    <h1 class="site-name">Mon Budget Voyage</h1>
      
    <p class="displayed">Appuyez sur le bouton <button type="button" class="btn btn-success" routerLink="/add-budget" >+</button> pour créer un nouveau budget</p>
       
  </nav>
  
</header>

<main>
    <img class="displayed" src="../../assets/images/Canva - Landscape, Scotland, Isle Of Skye, Old Man Of Storr.jpg">
</main>

