<header>
  <nav class="navbar navbar-light" style="background-color: hsl(159, 95%, 63%);">
    <h1 class="site-name">Mon Budget Voyage</h1>
    <h2 class="navtext">Se connecter</h2>
  </nav>
</header>


<form [formGroup]="form" (ngSubmit)="register()" class="displayed">
  <mat-form-field>
    <input matInput type="email" placeholder="Email" formControlName="email">
    <mat-error *ngIf="form.get('email').invalid">
      Please enter a valid email address
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Mot de passe" formControlName="password">
    <mat-error *ngIf="form.get('password').invalid">
      Password invalid
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="password" placeholder="Répéter mot de passe" formControlName="passwordRepeat">
    <mat-error *ngIf="form.get('passwordRepeat').invalid">
      Password doesn't match
    </mat-error>
  </mat-form-field>
  <button mat-fab color="primary" [disabled]="form.invalid">
    <mat-icon aria-label="add">GO!</mat-icon>
  </button>
</form>

<img class="displayed" src="../../assets/images/Canva - Holland, Zaanse Schans, Windmill, Storm, Architecture.jpg">



