h2.navtext {
  font-size:25px;
  margin-left: auto;
  margin-right: auto;
  width: 19em
}

img.displayed {
  width: 50%;
  height: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

form.displayed {
  margin-left: auto;
  margin-right: auto;
  width: 38em
}

h1.site-name{
  font-size:28px;
}